:root {
  --magenta: rgb(210, 51, 210);
  --cyan: rgb(98, 230, 230);
  --yellow: rgb(237, 237, 32);
  --gray: rgb(231, 231, 231);
  --font-color: rgb(33, 33, 33);
  --font-color-light: rgb(155, 155, 155);
  --background: rgb(251, 251, 250);
  --background--light: rgb(230, 230, 230);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  line-height: 1.5;
  font-family: "Press Start 1p", cursive;
}

button {
  font-family: "Press Start 2p", cursive;
  font-size: 0.8rem;
  border: 3px solid rgb(206, 176, 107);
  padding: 0.5rem 1rem;
  background-color: rgb(251, 251, 250);
  box-shadow: inset -3px -3px 0 0 rgb(206, 176, 107);
  transition: all 0.1s ease-in;
}


section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 1rem;
}

input,
select {
  border: 3px solid black;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0 1rem;
  font-size: 1rem;
}

ul {
  list-style: none;
}

li {
  margin: 1.5rem 0;
}

li:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 3px solid black;
}

.App.dark {
  --font-color: rgb(251, 251, 250);
  --background: #24303b;
  --background--light: rgb(80, 80, 80);
  transition: all 0.3s;
}

.App {
  margin: 2rem auto;
  padding: 1rem 2rem;
  max-width: 1300px;
  background: var(--background);
  color: var(--font-color);
  box-shadow: 4px 4px 10px rgba(33, 33, 33, 0.2);
  border-radius: 10px;
}

header {

  text-align: center;

}


header h2 {
  padding: 1rem 0;
  font-family: "Press Start 1p", cursive;
}



.header-button {
  text-align: right;
}

nav {
  text-align: center;

}

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(206, 176, 107);
  border-bottom: 2px solid rgb(206, 176, 107);
  transition: 0.1s;
  font-family: "Press Start 1p", cursive;
}

nav a:hover,
nav a:active {
  color: tomato;
  border-bottom: 2px solid tomato;
}

nav a.active {
  background-color: rgb(206, 176, 107);
  color: white;

}


p {
  padding-top: 0.5rem;
  font-size: 1rem;
  font-family: "Press Start 1p", cursive;
  line-height: 2rem;
  text-align: justify;
}

#about{
  padding-top: 2rem;
}