:root {
  --magenta: rgb(210, 51, 210);
  --cyan: rgb(98, 230, 230);
  --yellow: rgb(237, 237, 32);
  --gray: rgb(231, 231, 231);
  --font-color: rgb(33, 33, 33);
  --font-color-light: rgb(155, 155, 155);
  --background: rgb(251, 251, 250);
  --background--light: rgb(230, 230, 230);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: "Press Start 2p", cursive;
  background: rgb(2, 162, 152);
  background: rgb(231, 231, 231);
  background: linear-gradient(
    90deg,
    rgb(25, 216, 204) 0%,
    rgba(33, 246, 233, 1) 100%
  );
} */

/* body {
  background: rgb(231, 231, 231);
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  line-height: 1.5;
<<<<<<< HEAD
  text-align: center;
=======
  font-family: "Press Start 1p", cursive;
>>>>>>> development
}

button {
  font-family: "Press Start 2p", cursive;
  font-size: 0.8rem;
  border: 3px solid rgb(206, 176, 107);
  padding: 0.5rem 1rem;
  background-color: rgb(251, 251, 250);
  box-shadow: inset -3px -3px 0 0 rgb(206, 176, 107);
  transition: all 0.1s ease-in;
}

/* nav button {
  margin: 1rem 5rem;
} */

/* main {
  margin: 4rem auto;
  max-width: 700px;
  min-height: 500px;
  background: white;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
} */

section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 1rem;
}

input,
select {
  border: 3px solid black;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0 1rem;
  font-size: 1rem;
}

ul {
  list-style: none;
}

li {
  margin: 1.5rem 0;
}

li:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 3px solid black;
}

.App.dark {
  --font-color: rgb(251, 251, 250);
  --background: #24303b;
  --background--light: rgb(80, 80, 80);
  transition: all 0.3s;
}

.App {
  margin: 2rem auto;
  padding: 1rem 2rem;
  max-width: 1300px;
  background: var(--background);
  color: var(--font-color);
  box-shadow: 4px 4px 10px rgba(33, 33, 33, 0.2);
  border-radius: 10px;
}

header {

  text-align: center;


  /* display: flex; */


  /* justify-content: center; */
  /* align-items: center; */
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}


header h2 {
  padding: 1rem 0;
  font-family: "Press Start 1p", cursive;
}

/* header button {
  background: var(--gray);
  
} */

.header-button {
  text-align: right;
}

nav {
  text-align: center;

}

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(206, 176, 107);
  border-bottom: 2px solid rgb(206, 176, 107);
  transition: 0.1s;
  font-family: "Press Start 1p", cursive;
}

nav a:hover,
nav a:active {
  color: tomato;
  border-bottom: 2px solid tomato;
}


p {
  padding-top: 0.5rem;
  font-size: 1rem;
  font-family: "Press Start 1p", cursive;
  line-height: 2rem;
  text-align: justify;
}

#about{
  padding-top: 2rem;
}

.accordion {
  max-width: 600px;
  margin: 2rem auto;
  font-family: "Press Start 1p", cursive;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgb(206, 176, 107);
}

.accordion-title:hover {
  background-color: tomato;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
  font-family: "Press Start 1p", cursive;
}

.accordion-content {
  background-color: rgb(206, 176, 107);
}

  @media screen and (max-width: 700px) {

  .accordion {
    width: 90%;
  }
}